certifi==2021.10.8
charset-normalizer==2.0.10
docopt==0.6.2
idna==3.3
prompt-toolkit==1.0.14
Pygments==2.11.2
PyInquirer==1.0.3
regex==2022.1.18
requests==2.27.1
six==1.16.0
tqdm==4.62.3
urllib3==1.26.8
wcwidth==0.2.5

